<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.artificial_intelegence">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="artificial_intelegence"
        android:icon="@mipmap/ic_launcher">
        <!-- Tidak perlu API Key karena kita pakai OpenStreetMap -->
    </application>
</manifest>
